
<style>
.photo-profile{
    border:1px solid #DDD;    
}
</style>

 <div class="row">
      
      <div class="col s8">
    
    <div class="col s12" style="margin-left: 5%;margin-right: 5%" >
      <ul class="tabs">
        <li class="tab col s4"><a href="#test1">BLOGS</a></li>
        <li class="tab col s4"><a href="#test2">FORUMS</a></li>
        <li class="tab col s4 "><a href="#test3">JOBS</a></li>
        
      </ul>
    </div>
    <div id="test1" class="col s12" style="margin-left: 5%;margin-right: 5%">
  

<div data-ng-controller="blogcontroller">
<br>

<a href="#!/newblog"><button   style="width:95%">Writeblog</button></a>
  
  
  
<div data-ng-repeat="blogg in blogs">
<div class="card card-1" style="margin-top:2vh; padding: 30px;margin-right: 5%" >


           
                    
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading">{{blogg.username}}</h4></a> 
                              
                              </div>
                            </div>
             
            
                   <h3><b>{{blogg.blogname}}</b></h3>
                  
                 
              
                 <div class="media">
                  <div class="media-body">
                  <h4>{{ blogg.blogcontent | limitTo: 80 }}</h4>
                  
                  </div>
                   <div class="media-right">
            
                 
                   <div class="btn-group"> <a  data-ng-click="maximum(blogg.blogid)" class="btn btn-primary">{{blogg.blogcontent.length > 60 ? 'READ FULL' : ''}}</a> </div>
           
           
</div>
  
</div>
<div class="row">

<div class="col-s3">{{blogg.likes}}   Likes</div>

<div class="col-s3">{{blogg.views}}  Views </div>
</div>
</div>
</div>

</div>



  </div>
    <div id="test2" class="col s12" style="margin-left: 5%;margin-right: 5%">
    
    <div data-ng-controller="forumcontroller">
    
    
    
    
  

  
  
  
<div data-ng-repeat="forum in forums">
<div class="card card-1" style="margin-top:2vh; padding: 30px;margin-right: 5%" >


           
                    
                            <div class="media">
                              <div class="media-left">
                                <a href="#">
                                  <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" width="40" height="40" alt="...">
                                </a>
                              </div>
                              <div class="media-body">
                                <a href="#" class="anchor-username"><h4 class="media-heading">ADMIN</h4></a> 
                              
                              </div>
                            </div>
             
            
                   <h3>{{forum.formname}}</h3>
                  
                 
              
                 <div class="media">
                  <div class="media-body">
                  <h4>{{ forum.formcontent | limitTo: 80 }}</h4>
                  
                  </div>
                   <div class="media-right">
            
                 
                   <div class="btn-group"> <a  data-ng-click="fetchforumbyid(forum.forumid)" class="btn btn-primary">{{forum.forumcontent.length > 60 ? 'READ FULL' : ''}}</a> </div>
                   
             
</div>
</div>

</div>
</div>





    
    
    
    </div>
    </div>
    <div id="test3" class="col s12" style="margin-left: 5%;margin-right: 5%">
    <div data-ng-controller="jobcontroller">
    
    	<div data-ng-repeat="jobb in jobsdata">
    	<div class="card card-1" style="margin-top:5vh;padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px">
    	
    	 <h3><b>{{jobb.company}}</b></h3>
    	 <h3>Post for {{jobb.jobprofile}}</h3>
    	
    	                  <div class="media">
               
                   <div class="media-left">
                   <div class="btn-group"> <a  data-ng-click="getjob(jobb.jobid)" class="btn btn-primary">VIEW </a> </div>
           
</div>
  
</div>
   
	</div>
	</div>

    
    
    </div>
    
    </div>
      
      
      </div>
      <div class="col s4">
      
<table >
<tr >
<td>
<div class="panel panel-default"  style="height:30vh">
  <div class="panel-body">EVENTS</div>
</div>
</td>
</tr>
<tr >
<td>







</td>
</tr>
<tr >
<td>


<div class="panel panel-default"  style="height:30vh">
  <div class="panel-body">ONLINE FRIENDS<br>
  <div data-ng-controller="friendcontroller">
   <ul>
   <li data-ng-repeat="online in onlineusers">{{online.firstname}}  {{online.lastname}}</li>
   
   
   </ul>
   
   
   
   
   </div>       
          
           
          
  
  
  
  </div>
</div>


</td>
</tr>

</table>

      
    </div>
</div>





    
  


  


<script>
$(document).ready(function(){
    $('ul.tabs').tabs();
  });
       
$(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
              
</script>
