


<div class="container">
    <div class="row">
        <div class="col m6">
     
        </div>    
        <div class="col m6">
        <div class="card card-1" style="margin-top:15vh;height:60vh">
            
            <div class="row">
            <div data-ng-controller="registercontroller">
                <form class="col s12" data-ng-submit="login()" >
                   
                           <div class="input-field col s12">         
                <input  type="email" data-ng-model="Users.email"  required >
                            <label for="email">Email</label>
                             
                         </div>  
                 
                               <div class="input-field col s12">
                  
                 <input  type="password" data-ng-model="Users.password"   required>
                            <label for="passs">Password</label>
                          
                   
                    </div>

                   
                    <div class="input-field col s6">
                    <a href=""><h5>Forgot password....</h5></a>
                    </div>
                    
                    
                       <div class="input-field col s6">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" >Login</button>
                            </p>
                        </div>
                   
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

