<div class="container">
    <div class="row">
     <h1>CREATE YOUR BLOG</h1>
        <div class="col m12">
        <div class="card card-1" style="margin-top:15vh;height:60vh">
            
            <div class="row">
            <div data-ng-controller="blogcontroller">
                <form class="col s12" data-ng-submit="addBlog()" >
                   
                           <div class="input-field col s6">  
                           <div class="left-align">       
                <input  type="text" id="blogname"  data-ng-model="Blog.blogName" placeholder="BLOGNAME" required >
                            <label for="blogname"></label>
                             </div>
                         </div>  
                 
                               <div class="input-field col s12">
                  
                  
                   <textarea id="blogcontent" class="materialize-textarea" data-ng-model="Blog.blogContent" placeholder="TEXTAREA"required></textarea>
          <label for="blogcontent"></label>
          
          
            </div>
                   
                   
                    
                    
                       <div class="input-field col s6">
                            <p class="right-align">
                                <button class="btn btn-large waves-effect waves-light" type="submit" >SUBMIT</button>
                            </p>
                        </div>
                   
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

